<div class="header">
  <ul class="nav nav-pills pull-right">
    <li
      <% if (page === 'index') { %>
        class="active"
      <% } %>
    >
      <a href="/">Home</a>
    </li>
    <li
      <% if (page === 'devices') { %>
        class="active"
      <% } %>
    >
      <a href="/devices-view">Dispositivos</a>
    </li>
  </ul>
  <h3 class="text-muted">Carbono-Covid Detector</h3>
</div>